.tab {
    max-width:84%;
    position: relative;
    bottom: 797px;
    left: 285px;
   
}
 
.left {
    width: 200px;
    font-size: 30px;
    margin-top: -90px;
    margin-left: 87.1%;
}

.ic {
    padding-left: 20px;
}